/*******************************
               App
*******************************/

html,
body,
.ld-app,
#root {
  height: 100%;
  width: 100%;
}

.ld-app .main {
  height: calc(100% - 59px);
  max-height: 100vh;
}
