html,
body,
.ld-app,
#root {
  height: 100%;
  width: 100%;
}

.ld-app .icon {
  font-size: 24px;
  margin: 0;
}

.ld-app .menu {
  direction: rtl;
}

.ld-app .ui.menu .item {
  padding: 0.5em 1em;
}

.ld-app .ui.menu .item.logo {
  padding: 0 1em;
}

// div {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   font: inherit;
//   font-size: 100%;
//   vertical-align: baseline;
// }

// .nav-overlay {
//   -moz-transition: 0.5s ease, -webkit-transform 0.5s ease;
//   -o-transition: 0.5s ease, -webkit-transform 0.5s ease;
//   -webkit-transition: 0.5s ease, -webkit-transform 0.5s ease;
//   transition: 0.5s ease, -webkit-transform 0.5s ease;
//   transform: translate3d(0, 0, 0);
//   position: fixed;
//   width: 100%;
//   height: 100%;
//   bottom: 100%;
//   left: 0;
//   z-index: 10;
//   background: black;
//   display: none;
//   opacity: 1;
// }

// .anim-nav-overlay {
//   opacity: 1;
//   bottom: 0;
// }

// .show {
//   display: table;
// }

.header .item {
  z-index: 11;
}

.ui.overlay.top.sidebar {
  background-color: black;
  height: 100% !important;
  z-index: 10;
}
